@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
    --mainColor: #09bfcc;
    --secondColor: #ffa372;
    --whiteColor: #ffffff;
    --grayColor: #98a6ad;
}

  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
#grafica {
    opacity: 0;
  }

  nav {
    width: 100%;
    background-color: darkgreen;
    padding-left: 30px;
    padding-right: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em;
  }
  
  .logo {
    align-self: start;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-item a {
    align-self: flex-end;
    padding: 0.2em 0.9em;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
    font-size: 1.2em;
    padding: 0.2em;
  }
  
  .nav-item:hover a {
    color: darkgreen;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }

/***************FORM**************/
.form-container {
    width: 70%;
    max-width: 1200px;
    margin: 5px auto;
    padding: 1em;
    border: 1px solid darkgreen;
  }
  
  .form-container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
    align-self: center;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }

  h3,h4{
      padding: 0.5em;
      margin: 0.5em;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content:space-around;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 5px;
    font-weight: 400;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 200px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 10px;
    border: 1px solid darkgreen;
    text-align: justify;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-inner li {
    width: 100px;
  }

  h1,h2{
      text-align: center;
      margin: 1em;
  }
  h3 {
    text-align: justify;
    flex: 1 0 220px;
    margin: 0.5em;
}

/**/
.results {
    /*display: none;*/
    padding: 5px;
    font-weight: 400;
    letter-spacing: .09em;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    
  }
  
  #estadisticas {
    flex-shrink: 30vw;
  }

  .big-text-2 {
    font-size: 2em;
  }
  
  .big-text-3 {
    font-size: 3em;
  }
  
  .big-text-6 {
    font-size: 6em;
  }
  
  .hidden {
    display: none;
  }

  .vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .verticalEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* fin footer al final de la pagina */
  
  footer {
    font-size: 0.8rem;
    align-self: flex-end;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    letter-spacing: 0.02em;
  }

  footer a{
      text-decoration: none;
  }

  .fa-male.big-text-2::before, .fa-female.big-text-2::before {
    font-size: 1em;
  }

  .ct-series-a,
.ct-series-a .ct-line,
.ct-series-a .ct-point {
    stroke: var(--mainColor);
    color: var(--mainColor);
    margin: 0 1em;
}

.ct-series-b,
.ct-series-b .ct-line,
.ct-series-b .ct-point {
    stroke: var(--secondColor);
    color: var(--secondColor);
    margin: 0 1em;
}